{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block head_title %}Associate plants with a location{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can select plants that can be grown at the Wild Carbon location">
{% endblock %}

{% block content %}
    <div class="page-title-container carbon-capture-title-container">
        <div class="page-title location-title">
            <h1 class="page-title-main">Carbon Capture</h1>
            <div class="page-title-secondary location-page-title-secondary">Commission the growing and planting of trees at our location in the west of Ireland</div>
        </div>
    </div>
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">{{ location.location_friendly_name }}</h2>
            <p class="text-content location-text">
                Located in the west of Ireland, our 80 acre site has the capacity for approximately 50000 trees! You choose the trees you want planted in you name and we will make sure it happens as soon as possible. 

                The trees suitable for this site are listed below. 
                
                We hope you enjoy browsing the collection.
            </p>
        </div>
    </div>
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">Available Plants</h2>
            <div>
                <!-- Search box and sort box HTML supplied by Code Institute -->
                <div class="location-search-input">
                    <form id="search" class="search-form" method="GET" action="{% url 'carbon_capture' %}">
                        <div class="input-group">
                            <input class="form-control search-input" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control button search-button" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sort-select-wrapper">
                    <select id="sort-selector" class="custom-select custom-select-sm selector border">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price__asc" {% if current_sorting == 'price__asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price__desc" {% if current_sorting == 'price__desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="common_name__asc" {% if current_sorting == 'common_name__asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="common_name__desc" {% if current_sorting == 'common_name__desc' %}selected{% endif %}>Name (Z-A)</option>
                    </select>
                </div>
                <!-- End of search box and sort box HTML supplied by Code Institute -->
                <div class="plant-list-container">
                    <div class="plant-list">
                        {% for plant in plants %}
                            <a  href="{% url 'plant_detail' location.pk plant.pk %}" class="plant-instance shop-plant-instance">
                                {% if plant.image %}
                                    <img class="plant-image" src="{{ plant.image.url }}" alt="{{ plant.common_name }}">
                                {% else %}
                                    <img class="plant-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ plant.common_name }}">
                                {% endif %}
                                <div>{{ plant.common_name }}</div>
                                <span>{{ plant.genus }}</span>
                                <span>{{ plant.species }}</span>
                                <div>&#8364; {{ plant.price | calc_vat | floatformat:2 }} inc VAT</div>
                                <div>SKU: {{ plant.sku }}</div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/wild_carbon/search_sort.js' %}"></script>
{% endblock %}