{% extends "base.html" %}
{% load static %}

{% block head_title %}Associate plants with a location{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can make plants available for our Wild Carbon location">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="inner-content-container standard-inner-content-container">
        <h1 class="content-header">Plant Availability</h1>
        <div>
            <form id="plant-availability-form" method="post">
                {{ form | crispy }}
                {% csrf_token %}
            </form>
            <div class="button-container">
                <a class="button width-100-button button-content" href="{% url 'home' %}">Home</a>
                <button form="plant-availability-form" class="width-100-button button light-button"  type="submit" >Save associations</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}
