{% extends "base.html" %}
{% load static %}

{% block head_title %}All about Wild Carbon{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can learn more about wild carbon">
{% endblock %}

{% block content %}
    <div class="page-title-container about-us-page-title-container">
        <div class="page-title">
            <h1 class="page-title-main">About Us</h1>
            <h2 class="page-title-secondary">Get to know the team waiting to grow your trees</h2>
        </div>
    </div>
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">Who we are</h2>
            <p class="text-content">
                We are a small, dedicated team of plant growers and nature lovers 
                who came into possession of a plot of land. 
            </p>
            <p class="text-content">
                We wanted to rewild the site and plant trees to sequester 
                our own life's carbon, which we have been delighted to be able to do. 
                On completion our own personal targets we felt so elated that we felt 
                driven to provide the same opportunity to feel this elation to others, 
                hence the creation of this Wild Carbon service.
            </p>
            <p class="text-content">
                We like nothing more to be able to provide you with the opportunity 
                to make a real difference to the environment by availing of the service we offer.
            </p>
        </div>
    </div>
{% endblock%}