{% extends "base.html" %}
{% load static %}

{% block head_title %}All about the Wild Carbon service {% endblock %}

{% block description %}
    <meta name="description" content="On this page you can learn more about how the Wild Carbon service works">
{% endblock %}

{% block content %}
    <div class="page-title-container how-it-works-page-title-container">
        <div class="page-title">
            <h1 class="page-title-main">How it Works</h1>
            <h2 class="page-title-secondary">Learn more about our service</h2>
        </div>
    </div>
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">More about our service</h2>
            <p class="text-content">
                In terms of offsetting your life's estimated carbon footprint, commissioning the planting
                of around 1000 trees is a good target (see our facts section below for more information).
                However, any trees that are planted will not only sequester carbon offsetting your 
                carbon footprint but will also help to 'rewild' land that would otherwise be left in a 
                cultivated state.
            </p>
            <p class="text-content">
                What is 'rewilding', you might ask. Well, rewilding is the process of restoring an area 
                of land to its natural state by reintroducing species of flora and fauna that have been 
                driven out or removed. 
            </p>
            <p class="text-content">
                Your purchase of our carbon sequestration through rewilding service directly contributes 
                to the reintroduction of native tree species that were removed from the site. Alongside 
                the planting of trees, we do all we can to help improve the biodiversity of the site and
                protect it forever.
            </p>
            <p class="text-content">
                Profits from our service contribute to the ongoing protection of our currently owned 
                location in the west of Ireland and, very soon, the purchase of additional suitable 
                locations around the country of Ireland.
            </p>
            <p class="text-content">
                To ensure you feel safe putting your trust in us, we are externally audited and log 
                the planting of every tree planted at our location. On planting of your commissioned 
                trees, you will receive a digital certificate detailing the trees planted on your 
                behalf, via email.
            </p>
        </div>
    </div>
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">Wild Facts</h2>
            <div class="text-content">
                <ul class="fact-list">
                    <li class="fact-item">
                        The estimated carbon footprint of a person in Ireland is currently approximately 
                        13 tons of CO2 per year 
                    </li>
                    <li class="fact-item">
                        <p>
                            A mature tree will sequester approximately 20kg of CO2 per year but an immature tree 
                            might only absorb 10kg of carbon per year 
                        </p>
                        <p>                        
                            The amount of carbon absorbed also varies with the species and location of the tree, 
                            amongst many other things. For this reason we estimate the absorption of carbon dioxide 
                            to be 10 kg per year. It is a conservative estimate
                        </p>
                    </li>
                    <li class="fact-item">
                        The average life expectancy of a person in Ireland is 80 years
                    </li>
                    <li class="fact-item">
                        The trees will be allowed to grow for their entire natural life but we use a tree life 
                        expectancy of 100 years for our estimates.
                    </li>
                    <li class="fact-item">
                        The average person needs to plant approximately ((13000 x 80) / 10) / 100 = 1040 trees
                    </li>
                    <li class="fact-item">
                        Approximately 640 trees per acre.
                    </li>
                    <li class="fact-item">
                        Approximately 640 x 80 = 51200 trees can be supported by our location
                    </li>
                    <li class="fact-item">
                        It can take up to 2 years from the order being placed to the tree being planted out depending 
                        on the time of year you placed your order. The trees seeds need germinating (we grow from seed 
                        to ensure genetic diversity in our stock), growing on and then planting out when they are of 
                        the correct size for the tree in question.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">Useful Links</h2>
            <div class="text-content useful-links">
                <a href="https://www.carbonfootprint.com/calculator.aspx" class="useful-link-item" target="_blank" rel="external noopener" aria-label="Visit carbon footprint dot com to use their carbon calculator">
                    Vist carbonfootprint.com to use their carbon calculator to help you reduce your carbon footprint
                </a>
                <a href="https://www.treecouncil.ie/carbon-footprint" class="useful-link-item" target="_blank" rel="external noopener" aria-label="Visit tree council dot i e to read more about how trees sequester carbon">
                    Vist treecouncil.ie for more information about how trees sequester carbon and other interesting related facts 
                </a>
                <a href="https://rewildingeurope.com/what-is-rewilding/" class="useful-link-item" target="_blank" rel="external noopener" aria-label="Visit rewilding europe dot com for more information about rewilding">
                    Visti rewildingeurope.com for more information about rewilding
                </a>
            </div>
        </div>
    </div>
{% endblock%}