{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Rewild your way to carbon neutrality and beyond
{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can learn about wild carbon and what we can do for you">
{% endblock %}

{% block content %}
    <main>
        <div class="page-title-container">
            <div>

            </div>
        </div>
        <h2>What we do</h2>
        <h2>Coming Soon</h2>
        <h2>Newsletter</h2>
    </main>
{% endblock%}