{% extends "base.html" %}
{% load static %}

{% block head_title %}Your carbon sequestration summary{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can review the impact on your life's carbon footprint that your tree commissions will have">
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">Carbon Summary</h2>
            <div class="text-content">
                
            </div>
        </div>
    </div>
{% endblock%}