/* Profile page styles
Styles provided by Code Institute */

.order-history {
    max-height: 416px;
    /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: var(--button-green-font);
    background-color: rgb(240, 241, 234);
    border: none;
}

#profile-update-form .form-control:focus,
#profile-update-form .form-control:active {
    background-color:rgb(255, 255, 255);
}

#profile-update-form input::placeholder {
    color: var(--button-green-font);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: var(--button-green-font);
}

#id_default_country option:first-child {
    color: var(--button-green-font);
}