<div class="button-container">
    <a href="{% url 'carbon_capture' %}" class="button width-100-button button-content plant-detail-button">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <a href="{% url 'checkout' %}" class="button width-100-button button-content plant-detail-button">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
</div>