<!-- Template code provided by Code Institute -->
<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button class="decrement-qty quantity-button quantity-button-left decrement-qty_{{ item.item_id }}" aria-label="decrement quanitity" data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control quantity-input qty_input id_qty_{{ item.item_id }}" aria-label="quanitity" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty button quantity-button increment-qty_{{ item.item_id }}" aria-label="increment quanitity" data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <button type="submit" class="width-100-button button light-button float-start mt-1 mb-3"><small>Update</small></button>
</form>
<a class="button width-100-button button-content float-end text-danger remove-item mt-1 mb-3" id="remove_{{ item.item_id }}" data-csrf_token="{{ csrf_token }}"><small>Remove</small></a>