<!-- Template code provided by Code Institute -->
{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block head_title %}Your Wild Carbon basket{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can learn about wild carbon and what we can do for you">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="inner-content-container standard-inner-content-container">
        <h1 class="content-header">Basket</h1>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                {% include "basket/basket_total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "basket/checkout_buttons.html" %}
                                <p class="mb-3 mt-3">A summary of your basket contents is below</p>
                            </div>
                        </div>
                        {% for item in basket_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "basket/plant_image.html" %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "basket/plant_info.html" %}
                                </div>
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: €{{ item.plant.price }}</p>
                                    <p><strong>Subtotal: </strong>€{{ item.plant.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% include "basket/quantity_form.html" %}
                                </div>
                            </div>
                            <hr class="mb-2">
                        {% endfor %}
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Plant Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price (ex VAT)</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in basket_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "basket/plant_image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "basket/plant_info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.plant.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "basket/quantity_form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.plant.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "basket/basket_total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "basket/checkout_buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead basket-empty mb-5">Your basket is empty.</p>
                    <a href="{% url 'carbon_capture' %}" class="button button-content">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}

{% block extra_js %}
    <script src="{% static 'basket/js/view_basket.js' %}"></script>
    <script src="{% static 'js/wild_carbon/quantity_input_script.js' %}"></script>
{% endblock %}
