/* Common css for Wild Carbon site*/

/* css custom variables */
:root {
    --body-background-colour: rgba(249, 255, 215, 0.8);
    --header-footer-background-colour: rgba(9, 27, 14, 0.9);
    --main-font-colour: rgba(249, 255, 215, 0.8);
    --button-background: rgba(249, 255, 215, 0.8);
    --button-active-background: rgba(132, 138, 91, 0.8);
}

html,
body {
    background-color: var(--body-background-colour);
    height: 100%;
    width: 100%;
}

/* Header css */
header {
    position: relative;
    z-index: 1;
    color: var(--main-font-colour);
    height: 60px;
}

.navbar {
    padding: 0;
    height: 100%;
}

.header-nav-left,
.header-nav-right,
.header-nav-logo,
.header-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-left {
    grid-area: header-nav-left;
    flex-wrap: wrap;
    min-height: 60px;
}

.header-nav-logo {
    grid-area: header-nav-logo;
    width: 100%;
    min-height: 60px;
}

.header-nav-right {
    grid-area: header-nav-right;
    min-height: 60px;
    width: 100%;
}

.header-nav-items {
    grid-area: header-nav-items;
}

.nav-grid {
    display: grid;
    grid-template-columns: 75px auto 75px;
    grid-template-areas: "header-nav-left header-nav-logo header-nav-right";
    width: 100%;
}

.navbar-toggler {
    height: 40px;
    width: 40px;
    padding: 4px 4px;
}

.navbar-toggler-style {
    background-color: var(--button-background);
}

.navbar-toggler-style:active {
    background-color: var(--button-active-background);
}

.navbar-collapse {
    width: 100vw;
    background-color: var(--header-footer-background-colour);
}

.navbar-brand {
    margin: 0;
}

.navbar-nav {
    width: 100%;
    margin: 0;
}

.nav-link {
    padding: 11px;
    color: var(--main-font-colour);
}

.nav-link:hover {
    color: var(--main-font-colour);
    text-decoration: underline;
}

.logo-company {
    color: var(--main-font-colour);
    display: flex;
    justify-content: center;
    font-size: large;
}

.logo-tagline {
    color: var(--main-font-colour);
    display: none;
}

header,
.header-nav-items,
footer {
    background-color: var(--header-footer-background-colour);
    color: var(--main-font-colour);
    backdrop-filter: blur(1px);
}

/* Main section styles */
.main-container {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.page-title-container {
    background: url('/static/media/images/home-glade.jpg') no-repeat center center/cover;
    height: 100vh;
}

.footer-left {
    grid-area: footer-left;
}

.footer-middle {
    grid-area: footer-middle;
}

.footer-right {
    grid-area: footer-right;
}

footer {
    display: grid;
    grid-template-columns: 75px auto 75px;
    grid-template-areas: "footer-left footer-middle footer-right";
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 60px;
    flex-grow: 0;
}

/* Media queries */

/* Media query for medium width screens */
@media screen and (min-width: 768px) {

    .logo-tagline {
        display: flex;
        font-size: small;
    }
}

/* Add media query for wide screens */
@media screen and (min-width: 992px) {
    .header-nav-left {
        display: none;
    }

    .header-nav-right {
        justify-self: end;
    }

    .header-nav-items {
        justify-content: flex-start;
    }

    .navbar-collapse {
        grid-area: navbar-collapse;
        width: auto;
    }

    .nav-grid {
        display: grid;
        grid-template-columns: 300px auto 150px;
        grid-template-areas: "header-nav-logo navbar-collapse header-nav-right";
        width: 100%;
    }
}