/* Common css for Wild Carbon site*/

/* css custom variables */
:root {
    --body-background-colour: rgba(30, 88, 45, 0.1);
    --header-footer-background-colour: rgba(18, 53, 27, 0.1);
}

html,
body {
    width: 100%;
}

/* Header css */
.nav-header-left,
.nav-header-right,
.nav-header-logo,
.nav-header-nav-items {
    display: flex;
    justify-content: center;
}

.nav-header-left {
    grid-area: nav-header-left;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-header-logo {
    grid-area: nav-header-logo;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.nav-header-right {
    grid-area: nav-header-right;
}

.nav-header-nav-items {
    grid-area: nav-header-nav-items;
    /* width: 100%; */
}

.nav-grid {
    display: grid;
    grid-template-columns: 75px auto 75px;
    grid-template-rows: auto;
    grid-template-areas:
        "nav-header-left nav-header-logo nav-header-right"
        "nav-header-nav-items nav-header-nav-items nav-header-nav-items";
    width: 100%;
}

.navbar-toggler {
    height: 40px;
    width: 40px;
    padding: 4px 4px;
}

.navbar-brand {
    margin: 0;
}

.nav-link {
    padding: 11px;
}

.logo-company {
    display: flex;
    justify-content: center;
    font-size: large;
}

.logo-tagline {
    display: none;
}

/* Media queries */

/* Media query for medium width screens */
@media screen and (min-width: 768px) {

    .logo-tagline {
        display: flex;
        font-size: small;
    }
}

/* Add media query for wide screens */
@media screen and (min-width: 992px) {
    .nav-header-left {
        display: none;
    }

    .nav-header-right {
        justify-self: end;
    }

    .nav-grid {
        display: grid;
        grid-template-columns: 300px auto 150px;
        grid-template-rows: none;
        grid-template-areas:
            "nav-header-logo nav-header-nav-items nav-header-right";
        width: 100%;
    }
}