/* Common css for Wild Carbon site*/

/* Fonts imported from Google Fonts : https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Lato:ital,wght@0,400;0,900;1,700&display=swap');


/* css custom variables */
:root {
    /* Shrikhand and Lato fonts imported from Google Fonts : https://fonts.google.com/ */
    --brand-font-family: Khand, Lato, Helvetica, sans-serif;
    --primary-font-family: Lato, Helvetica, sans-serif;
    --body-background-colour: rgb(240, 241, 234);
    --main-background-colour: rgb(207, 211, 195);
    --header-footer-background-colour: rgba(9, 27, 14, 0.9);
    --dropdown-background-colour: rgba(9, 27, 14, 1);
    --modal-backdrop-background-colour: rgba(9, 27, 14, 0.3);
    --modal-background-colour: rgba(9, 27, 14, 0.7);
    --page-title-background-colour: rgba(9, 27, 14, 0.8);
    --inner-content-container-colour: rgb(74, 105, 76);
    --inner-content-container-shadow: rgb(191, 196, 168);
    --inner-content-container-shadow-dark: rgba(9, 27, 14, 1);
    --title-font-colour: rgb(255, 255, 255);
    --main-font-colour:  rgba(255, 255, 255, 0.9);
    --label-font-colour: rgba(249, 255, 215, 0.9);
    --header-font-colour: rgba(249, 255, 215, 0.9);
    --content-font-colour:rgba(249, 255, 215, 0.8);
    --link-font-colour: rgba(249, 255, 215, 0.9);
    --button-background: rgb(203, 207, 187);
    --button-background-solid: rgb(234, 238, 222);
    --button-green-font:rgba(38, 70, 47, 1);
    --button-green-background: rgba(9, 27, 14, 0.5);
    --button-green-background-solid: rgba(9, 27, 14, 0.9);
    --button-green-border: rgba(9, 27, 14, 0.2);
    --brand-background-hover: rgba(38, 70, 47, 1);
    --brand-background-colour: rgba(38, 70, 47, 0.7);
    --button-active-background: rgba(132, 138, 91, 0.8);
    --header-height: 75px;
    --footer-icon-size: 3rem;
    --footer-icon-inner-size: 2.5rem;
    --input-background-colour: rgb(240, 241, 234);
    --input-background-colour-selected: rgb(243, 245, 237);
    --fact-background-colour:rgba(255, 255, 255, 0.1);
    --success: rgb(0, 150, 62);
    --info: rgb(0, 127, 150);
    --warning: rgb(150, 97, 0);
    --error: rgb(150, 10, 0);
    --contact-icon-colour: rgb(249,255,215);
}

/* Message */
.message-container {
    max-width: calc(100% - 20px);
    position: fixed;
    top: 84px;
    right: 9px;
    z-index: 99999999999;
    box-sizing: border-box;
}

.hide-basket {
    display: none;
}

.show-basket {
    display: block;
}

.toast-message {
    display: flex;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.toast-basket {
    margin: 10px;
}

.success {
    background-color: var(--success);
    color: var(--title-font-colour);
}

.info {
    background-color: var(--info);
    color: var(--title-font-colour);
}

.warning {
    background-color: var(--warning);
    color: var(--title-font-colour);
}

.error {
    background-color: var(--error);
    color: var(--title-font-colour);
}

.toast-button,
.order-history-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast-button:hover,
.order-history-button:hover {
    text-decoration: none;
}

.common-name-status::after {
    content: 'Sorry, this plant common name is taken';
    font-weight: bolder;
    font-size: 0.875em;
    color: #dc3545;
    text-align: center;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast {
    border-color: transparent;
}

/* Body content styles */

html,
body {
    background-color: var(--body-background-colour);
    height: 100%;
    width: 100%;
    font-family: var(--primary-font-family);
}

/* Header css */
header {
    position: relative;
    z-index: 1;
    color: var(--main-font-colour);
    height: fit-content;
}

.navbar {
    padding: 0;
    height: 100%;
}

.header-nav-left,
.header-nav-right,
.header-nav-logo,
.header-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-left {
    grid-area: header-nav-left;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header-nav-logo {
    grid-area: header-nav-logo;
    width: 100%;
}

.header-nav-right {
    grid-area: header-nav-right;
    width: 100%;
    justify-content: flex-end;
}

.header-nav-items {
    grid-area: header-nav-items;
}

.nav-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: var(--header-height);
    grid-template-areas: "header-nav-left header-nav-logo header-nav-right";
    width: 100%;
}

.navbar-toggler {
    height: 40px;
    width: 40px;
    padding: 4px 4px;
    margin-left: 10px;
}

.navbar-toggler-style {
    background-color: var(--button-background);
}

.navbar-toggler-style:active {
    background-color: var(--button-active-background);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse {
    width: 100vw;
}

.navbar-brand {
    border-radius: 7px;
    padding: 5px;
    margin: 0px;
    padding-bottom: 0;
}

.navbar-brand:hover {
    background-color: var(--brand-background-hover);
}

.navbar-nav {
    width: 100%;
    margin: 0;
}

a,
.link,
.nav-link,
.privacy-policy,
.plant-list-plant-instance,
.plant-detail-plant-instance {
    padding: 11px;
    color: var(--link-font-colour);
}

.link-button {
    padding: 0 10px;
}

.link:hover,
.nav-link:hover {
    color: var(--main-font-colour);
    text-decoration: underline;
}

.image-select {
    color: var(--main-font-colour);
}

.image-select-input {
    color: var(--button-green-font);
    width: 100%;
    max-width: 316px;
}

.add-plant-links {
    text-align: center;
}

#administration-link {
    color: var(--link-font-colour);
}

.dropdown-item {
    color: var(--link-font-colour);
}

.navbar-brand:hover {
    text-decoration: none;
}

.logo-company {
    color: var(--title-font-colour);
    font-family: var(--brand-font-family);
    font-weight: 300;
    font-size: xx-large;
    line-height: 25px;
    letter-spacing: 1px;
    color: var(--main-font-colour);
    display: flex;
    justify-content: center;
    word-wrap: normal;
}

.basket-icon {
    height: 2.3rem;
}

header,
footer {
    background-color: var(--header-footer-background-colour);
    color: var(--main-font-colour);
    backdrop-filter: blur(1px);
}

.dropdown-menu {
    background-color: transparent;
}

#account-dropdown-menu,
#administration-dropdown-menu {
    background-color: var(--dropdown-background-colour);
    margin: 0;
    border: 0;
}

#administration-dropdown-menu {
    margin: 14px;
}

#administration-dropdown-menu li a:hover {
    background-color: var(--header-footer-background-colour);    
}

#account-dropdown-menu li a:hover {
    background-color: var(--dropdown-background-colour);
    color: var(--main-font-colour);
}

.dropdown-center {
    height: 100%;
}

.account-dropdown-toggle:active,
.account-dropdown-toggle {
    background-color: transparent;
    height: 100%;
    border: none;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.basket-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

.account-menu-icon,
.basket-icon {
    height: 30px;
}

.basket-icon {
    margin-top: 18px;
}

.basket-total {
    color: var(--main-font-colour);
    text-decoration: none;
    padding-right: 3px;
}

.dropdown-toggle::after {
    display: none;
}

/* Main section styles */
.main-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-colour);
}

.main-container-offset {
    top: var(--header-height);
    height: calc(100vh - 75px);
    padding-top: 10px;
}

main {
    flex-grow: 1;
}

.page-title-container,
.image-nav-container {
    /* Image sourced at https: //www.pexels.com/photo/green-forest-under-white-sky-during-daytime-165537/ */
    background: url("/static/images/base_home_index_glade.webp") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.about-us-page-title-container {
    /* Image sourced at https://www.pexels.com/photo/close-up-shot-of-a-person-holding-a-plant-5027792/ */
    background: url("/static/home/images/home_about_us_plug_plant.webp") no-repeat center center/cover;
}

.how-it-works-page-title-container {
    /* Image sourced at https://ecotree.green/en/how-much-co2-does-a-tree-absorb */
    background: url("/static/home/images/home_how_it_works.webp") no-repeat center center/cover;
}

.image-nav-outer-container {
    margin-bottom: 10px;
}

.image-nav-container {
    height: 500px;
    width: 100%;
    margin: 0 10px;
}

.carbon-capture-image-nav-container {
    /* Image sourced at https://iowalandcompany.com/jones-county-iowa-80-acres-for-sale/ */
    background: url("/static/images/carbon_capture_location.webp") no-repeat center center/cover;
}

.about-us-image-nav-container {
    /* Image sourced at https://www.pexels.com/photo/close-up-shot-of-a-person-holding-a-plant-5027792/ */
    background: url("/static/home/images/home_about_us_plug_plant.webp") no-repeat center center/cover;
}

.how-it-works-image-nav-container {
    /* Image sourced at https://ecotree.green/en/how-much-co2-does-a-tree-absorb */
    background: url("/static/home/images/home_how_it_works.webp") no-repeat center center/cover;
}

.carbon-capture-title-container {
    /* Image sourced at https://iowalandcompany.com/jones-county-iowa-80-acres-for-sale/ */
    background: url("/static/images/carbon_capture_location.webp") no-repeat center center/cover;
    height: 175px;
}

.page-title,
.image-nav-title {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: var(--main-font-colour);
    width: 70%;
    height: 40%;
    border-radius: 10px;
    background-color: var(--page-title-background-colour);
}

.location-title {
    width: fit-content;
    height: fit-content;
}

.location-page-title-secondary {
    max-width: 350px;
}

.image-nav-container:hover {
    text-decoration: none;
}

.image-nav-title-main {
    line-height: 40px;
    padding: 10px;
}

.page-title-main {
    margin-bottom: 0;
}

.page-title-secondary,
.image-nav-title-secondary {
    color: var(--main-font-colour);
    font-family: var(--primary-font-family);
    font-size: small;
    padding: 10px;
}

.page-title-image,
.image-nav-image {
    height: 3rem;
}

/* content styles */
.content-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.error-content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.inner-content-container {
    width: 100%;
    background-color: var(--inner-content-container-colour);
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    color: var(--main-font-colour);
}

.add-edit-plant-inner-content-container,
.standard-inner-content-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-edit-plant-row,
.standard-content {
    width: 100%;
    max-width: 611px;
}

.standard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-error-container {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-header {
    text-align: center;
    font-size: xx-large;
}

.text-content {
    text-align: center;
}

.fact-list {
    padding: 0;
    list-style: none;
}

.fact-item {
    padding: 5px;
    margin: 10px 0;
    background-color: var(--fact-background-colour);
}



.location-text {
    text-align: center;
}

.location-search-input,
.plant-list-search-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer styles */
.footer-left {
    grid-area: footer-left;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.footer-left-back-to-top,
.footer-right-contact,
.footer-right-facebook {
    border-radius: 50%;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: footer-middle;
}

.footer-right {
    grid-area: footer-right;
    display: flex;
    justify-content: center;
    column-gap: 3px;
    flex-wrap: wrap;
}

.footer-left-back-to-top,
.footer-right-contact,
.footer-right-facebook {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: var(--footer-icon-size);
    width: var(--footer-icon-size);
}

.footer-inner-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "footer-left footer-middle footer-right";
    justify-items: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    flex-grow: 0;
    padding: 7px;
}

/* Compontent styles */
h1,
h2,
h3,
.image-nav-title-main {
    color: var(--header-font-colour);
    font-family: var(--brand-font-family);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: xx-large;
}

h3 {
    font-size: large;
}

.button {
    border: 1px solid var(--button-green-border);
    border-radius: 10px;
    background-color: var(--button-background);
    color: var(--button-green-font);
    height: fit-content;
    text-align: center;
    padding: 5px;
}

.button:hover,
.selector:hover {
    background-color: var(--button-background-solid);
}

button:focus {
    outline: none;
}

.light-button {
    background-color: var(--button-background);
    color: var(--button-green-font);
}

.light-button:hover {
    background-color: var(--button-background-solid);
}

.allauth-inner-content button,
.useful-link-item {
    border: 1px solid var(--button-green-border);
    border-radius: 10px;
    background-color: var(--button-green-background);
    color: var(--main-font-colour);
    height: fit-content;
    text-align: center;
    padding: 5px;
}

.allauth-inner-content button {
    width: 150px;
}

.useful-link-item {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.allauth-inner-content button:focus,
.useful-link-item:focus {
    outline: none;
}

.allauth-inner-content button,
.allauth-inner-content input[type=submit],
.useful-link-item {
    background-color: var(--button-green-background);
    color: var(--main-font-colour);
}

.allauth-inner-content button:hover,
.allauth-inner-content input[type=submit]:hover,
.useful-link-item:hover {
    background-color: var(--button-green-background-solid);
}

.useful-link-item:hover {
    text-decoration: none;
    box-shadow: 0px 0px 10px 1px var(--inner-content-container-shadow);
}

.plant-record-button,
.add-plant-button,
.button-container,
.button-content {
    margin: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px;
}

.button-container {
    column-gap: 10px;
}

.button-content {
    justify-content: center;
}

.button-content:hover {
    color: var(--button-green-font);
}

.plant-record-button:hover,
.add-plant-button:hover,
.button-content:hover {
    text-decoration: none;
}

.add-plant-button {
    margin-bottom: 10px;
}

input,
.selector,
.form-control {
    border-radius: 5px;
    background-color: var(--input-background-colour);
    height: 36px;
    border: none;
}

.selector {
    color: black;
}

input:focus,
input:active,
.selector:focus,
.selector:active,
.form-control:focus {
    box-shadow: none;
    outline: none;
    background-color: white;
}

a,
.link,
.privacy-policy {
    text-decoration: none;
}

a:hover,
.link:hover,
.privacy-policy:hover {
    text-decoration: underline;
}

.label {
    color: var(--link-font-colour);
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Modal styles */
.privacy-policy {
    padding: 0;
}

.copyright-notice {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: smaller;
    white-space: nowrap;
}

.back-to-top-button,
.social-media-icon {
    height: var(--footer-icon-inner-size);
}

.facebook-link-container {
    height: var(--footer-icon-size);
    width: var(--footer-icon-size);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.contact-icon-container {
    height: var(--footer-icon-inner-size);
    width: var(--footer-icon-inner-size);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--contact-icon-colour);
    border-radius: 50%;
    padding: 0;
    border-width: 0;
}

.contact-icon {
    width: calc(var(--footer-icon-size)/2);
}

.display-none {
    display: none;
}

.contact-us-modal-container,
.privacy-policy-modal-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* Image sourced at https: //www.pexels.com/photo/green-forest-under-white-sky-during-daytime-165537/ */
    background: url("/static/images/base_home_index_glade.webp") no-repeat center center/cover;
    z-index: 2;
    top: 0;
    left: 0;
}

.modal-offset {
    top: -75px;
}

.error-page-link {
    color: var(--button-green-font);
    background-color: var(--button-background);
}

.error-page-link:hover {
    background-color: var(--button-background-solid);
    color: var(--button-green-font);
    text-decoration: none;
}

.contact-us-inner-container,
.privacy-policy-inner-container {
    height: 100%;
    width: 100%;
    background-color: var(--modal-backdrop-background-colour);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.contact-us-modal,
.privacy-policy-modal {
    text-align: center;
    height: 95%;
    width: 95%;
    background-color: var(--modal-background-colour);
    color: var(--main-font-colour);
}

.contact-us-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.privacy-policy-modal {
    padding: 5px;
    padding-bottom: 10px;
    overflow: scroll;
}

.contact-us-close-button,
.privacy-policy-close-button {
    width: 100px;
}

.width-150-button {
    width: 150px;
}

.privacy-policy-close-button {
    margin-bottom: 100px;
}

.contact-email {
    font-size: 5vw;
}

/* Plant list styles */
.plant-list-container {
    width: 100%;
}

.plant-list {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    row-gap: 10px;
    justify-content: space-evenly;
}

.plant-instance {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    min-height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--page-title-background-colour);
    border-radius: 5px;
}

.plant-detail-plant-instance {
    margin: auto;
}

.plant-image {
    width: auto;
    border-radius: 5px;
}

.shop-plant-instance:hover,
.image-nav-container:hover {
    box-shadow: 0px 0px 10px 1px var(--inner-content-container-shadow);
    background-color: var(--header-footer-background-colour);
    text-decoration: none;
}

.image-nav-container:hover {
    box-shadow: 0px 0px 10px 1px var(--inner-content-container-shadow-dark);
}

.plant-instance-name {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.plant-field {
    font-weight: bold;
}

.plant-field-data {
    color: var(--main-font-colour);
}

hr {
    margin: 0;
}

.fact-item {
    padding-top: 10px;
}

.order-confirmation-container {
    width: 100%;
}

.order-confirmation-wrapper {
    max-width: 600px;
    margin: auto;
}

.text-md-right {
    overflow-wrap: anywhere;
}

.basket-empty {
    text-align: center;
}

/* Forms */
.standard-form,
.search-form {
    width: 100%;
}

.search-input,
.quantity-input {
    height: 38px;
    margin-bottom: 10px;
}

.search-button,
.quantity-button {
    border-radius: 0;
    border-bottom-right-radius: .375rem;
    border-top-right-radius: .375rem;
    height: 38px;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.search-button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--button-green-background);
    color: var(--main-font-colour);
}

.search-button:hover {
    background-color: var(--button-green-background-solid);
}

.quantity-button {
    width: 40px;
}

.quantity-button-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: .375rem;
    border-top-left-radius: .375rem;
    background-color: var(--button-green-background);
    color: var(--main-font-colour);
}

.quantity-button-left:hover {
    background-color: var(--button-green-background-solid);
}

.sort-select-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.checkbox,
.custom-control-input,
.form-check-input[type=checkbox]:checked {
    accent-color: var(--button-green-background-solid);
    background-color: var(--button-green-background-solid);
    border: 1px solid var(--button-green-border);
    color: white;
    height: 16px;
    width: 16px;
}

.custom-control-input:focus,
.custom-control-input:active,
.form-check-input[type=checkbox],
.form-check-input[type=checkbox]:focus,
.form-check-input[type=checkbox]:active {
    border-color: var(--button-green-border);
    box-shadow: none;
}

.confirm-delete {
    margin: 50px 0;
}

.associated-record-label {
    font-style: italic;
}

textarea.form-control {
    height: 330px;
}

#id_default_country {
    height: 36px;
}

#add-to-basket-form {
    max-width: 375px;
    margin: auto;
}

.remove-item,
.button,
.quantity-button {
    cursor: pointer;
}

/* Table styles */
.table {
    color: var(--main-font-colour);
    font-family: var(--primary-font-family);
    font-weight: 400;
}

.plant-record-table th,
.order-history-table th {
    width: 25%;
}

.carbon-summary-plant-record-table th {
    width: 33%;
}

.records-header {
    text-align: left;
}

th {
    font-weight: 400;
    text-decoration: underline;
}

.plant-record-table td a {
    padding: 0;
}

/* Allauth style */
.allauth-content {
    min-height: fit-content;
}

.allauth-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 30px;
}

.allauth-inner-content a {
    font-weight: bold;
    padding: 0;
}

.allauth-inner-content a .button{
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    width: 150px;
}

.allauth-inner-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allauth-inner-content form p {
    display: flex;
    flex-direction: column;
}

.allauth-inner-content input:not([type=checkbox]) {
    min-width: 200px;
    margin-bottom: 10px;
}

.allauth-inner-content button {
    margin-bottom: 20px;
}

/* Mailchimp styles */
.mailchimp-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.mc-field-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.mc_embed_signup {
    font:14px Helvetica,Arial,sans-serif; 
    width: 100%;
}

#mc_embed_signup .helper_text {
    background: none;
}

.mc-button {
    margin-top: 5px;
}

/* Media queries */

/* Media query for small width screens */
@media screen and (min-width: 340px) {
    .nav-grid {
        grid-template-columns: 120px auto 120px;
    }

    .footer-inner-container {
        grid-template-columns: 100px auto 100px;
    }


    .page-title-main,
    .image-nav-title-main {
        font-size: xxx-large;
    }

    .page-title-image,
    .image-nav-image {
        margin-top: 3rem;
    }
}

/* Media query for 400px plus width screens */
@media screen and (min-width: 400px) {
    .logo-company {
        font-size: xx-large;
        display: inline;
    }

    .search-form {
        
        width: 390px;
    }

    .message-container {
        max-width: 90vw;
    }
}

/* Media query for 767px plus width screens */
@media screen and (min-width: 767px) {
    .text-md-right {
        text-align: right;
    }
}

/* Add media query for wide screens */
@media screen and (min-width: 992px) {
    .header-nav-left {
        display: none;
    }

    .header-nav-right {
        justify-self: end;
    }

    .header-nav-items {
        justify-content: flex-start;
    }

    .navbar-collapse {
        grid-area: navbar-collapse;
        width: auto;
    }

    .nav-grid {
        display: grid;
        grid-template-columns: 300px auto 150px;
        grid-template-areas: "header-nav-logo navbar-collapse header-nav-right";
        width: 100%;
    }
}

/* Add media query for wide screens */
@media screen and (min-width: 1200px) {
    header {
        position: absolute;
        margin-right: 0;
    }

    header,
    .main-container {
        width: 1200px;
        right: calc(50% - (1200px / 2));
    }

    .message-container {
        right: calc(50% - (1200px / 2) + 10px);       
    }
}