{% extends "base.html" %}

{% block head_title %}Error 403 Permission denied{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block content %}

    <div class="content-container error-content-container">
        <div class="inner-content-container inner-error-container">
            <h2 class="content-header">Error: 403</h2>
            <p class="text-content">
                Sorry, permission is denied         
            </p>
            <a class="nav-link error-page-link button" href="{% url 'home' %}">Home</a>
        </div>
    </div>
{% endblock %}