{% extends "base.html" %}

{% block head_title %}Error 404 Page not found{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block content %}
    <div class="content-container error-content-container">
        <div class="inner-content-container inner-error-container">
            <h2 class="content-header">Error: 404</h2>
            <p class="text-content">
                Sorry, this page was not found       
            </p>
            <a class="nav-link error-page-link button link-button" href="{% url 'home' %}">Home</a>
        </div>
    </div>
{% endblock %}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}