{% extends "base.html" %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="Accounts page">
{% endblock %}

{% block content %}
<div class="content-container allauth-content">
    <div class="inner-content-container allauth-inner-content">
        {% block inner_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}