{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wild Carbon: {% block extra_title %}{% endblock %}</title>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block description %}
    {% endblock description %}
    <meta name="keywords" content="carbon sequestration, co2, rewilding, re-wilding, carbon footprint">
    <!-- Favicon image supplied by https://favicon.io/favicon-generator/ -->
    <link rel="icon" sizes="any" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>