{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wild Carbon: {% block head_title %}{% endblock %}</title>
        {% block description %}
        {% endblock description %}
        <meta name="keywords" content="carbon sequestration, co2, rewilding, re-wilding, carbon footprint">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon image supplied by https://favicon.io/favicon-generator/ -->
        <link rel="icon" sizes="any" href="{% static 'favicon.ico' %}">
        <!-- css links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- js links  -->
        <script src="https://kit.fontawesome.com/e12aa4c3b2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <!-- Navigation bar skeleton provided by bootstrap -->
            <nav class="navbar navbar-expand-lg">
                <div class="nav-grid">
                    <div class="header-nav-left">
                        <button class="navbar-toggler navbar-toggler-style" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="header-nav-logo">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <div class="logo-company"><strong>Wild Carbon</strong></div>
                            <div class="logo-tagline">Rewild your way to carbon neutrality</div>
                        </a>
                    </div>
                    <div class="header-nav-right">
                        <div class="dropdown-center">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- Icon supplied by font awesome https://fontawesome.com/  -->
                                <img class="account-menu-icon" src="{% static 'static_media/icons/base_account_menu.svg' %}" alt="Open the account menu">
                            </button>
                            <a href="{% url 'basket' %}">
                                <!-- Icon supplied by font awesome https://fontawesome.com/  -->
                                <img class="basket-icon" src="{% static 'static_media/icons/base_account_menu.svg' %}" alt="Open your basket">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% if user.is_authenticated %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'carbon_capture' %}">Carbon Capture</a>
                            </li>
                            {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'list_plants' %}">Plan Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'location_plants_link' 1 %}">Plant Availability</a>
                                </li>
                            {% endif %}
                            {% if user.is_staff %}
                                <li>
                                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">First link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End of bootstrap navigation -->
        </header>
        <div class="main-container {% block main_style %}{% endblock %}">
                <!-- Message HTML provided by Code Institute -->
                {% if messages %}
                    <div class="message-container">
                        {% for message in messages %}
                            {% with message.level as level %}
                                {% if level == 40 %}
                                    {% include 'includes/toasts/toast_error.html' %}
                                {% elif level == 30 %}
                                    {% include 'includes/toasts/toast_warning.html' %}
                                {% elif level == 25 %}
                                    {% include 'includes/toasts/toast_success.html' %}
                                {% else %}
                                    {% include 'includes/toasts/toast_info.html' %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- End of Message HTML provided by Code Institute -->
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer>
                <div class="footer-inner-container">
                    <div class="footer-left">
                        <div class="footer-left-back-to-top" id="footer-left-back-to-top">
                            <!-- Icon supplied by font awesome https://fontawesome.com/  -->
                            <img class="back-to-top-button" id="back-to-top-button" role="button" src="{% static 'static_media/icons/base_circle_up.svg' %}" alt="Back to top up arrow button">
                        </div>
                    </div>
                    <div class="footer-middle">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <div class="logo-company"><strong>Wild Carbon</strong></div>
                        </a>
                        <div role="button" aria-label="Privacy-Policy" id="privacy-policy-link" class="privacy-policy">Privacy Policy</div>
                        <div class="copyright-notice">&copy 2023 Wild Carbon</div>
                    </div>
                    <div class="footer-right">
                        <div class="footer-right-contact" id="footer-right-contact">
                            <button id="contact-us-button" class="contact-icon-container" aria-label="Contact details for Wild Carbon">
                                <!-- Icon supplied by font awesome https://fontawesome.com/  -->
                                <img src="{% static 'static_media/icons/base_contact.svg' %}"  class="contact-icon" alt="Contact us icon">
                            </button>
                        </div>
                        <div class="footer-right-facebook" id="footer-right-facebook">
                            <a href="#" class="facebook-link-container" target="_blank" rel="external nofollow noopener" aria-label="Visit Wild Carbons Facebook Business Page">
                                <!-- Icon supplied by font awesome https://fontawesome.com/  -->
                                <img src="{% static 'static_media/icons/base_facebook_brands.svg' %}"  class="social-media-icon" alt="Facebook social media icon">
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- contact us modal -->
            <section id="contact-us-modal" class="contact-us-modal-container display-none {% block modal_style %}{% endblock %}">
                <div class="contact-us-inner-container">
                    <div class="contact-us-modal">
                        <h2>Contact Us</h2>
                        <div>Mayo, Ireland</div>
                        <div class="contact-email">wild.carbon.sequestration@gmail.com</div>
                        <button id="contact-us-close-button" class="contact-us-close-button">Done</button>
                    </div>
                </div>
            </section>
            <!-- Privacy policy modal -->
            <section id="privacy-policy-modal" class="privacy-policy-modal-container display-none {% block privacy_modal_style %}{% endblock %}">
                <div class="privacy-policy-inner-container">
                    <div class="privacy-policy-modal">
                        {% include 'includes/privacy_policy.html' %}
                        <button id="privacy-policy-close-button" class="privacy-policy-close-button">Done</button>
                    </div>
                </div>
            </section>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
        <script src="{% static 'js/libraries/jquery_3_7_0.js' %}"></script>        
        <script src="{% static 'js/wild_carbon/base.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>