{% extends "base.html" %}
{% load static %}

{% block head_title %}Add a plant{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can add a plant to the Wild Carbon system">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="inner-content-container add-edit-plant-inner-content-container">
        <h1 class="content-header">Add Plant</h1>
        <div class="add-edit-plant-row">
            <div>
                <div class="note">Note: leading, trailing and multiple spaces in a row in the common name are removed</div>
                <form id="add-plant-form" method="POST" action="{% url 'add_plant' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </form>
                <div class="button-container">
                    <a class="btn button button-content" href="{% url 'list_plants' %}">Back</a>
                    <button id="plant-submit-btn" form="add-plant-form" class="btn button button-content" type="submit">Add Plant</button>
                </div>
            </div>            
        </div>
    </div>
</div>    
{% endblock %}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}

{% block extra_js %}
    <script src="{% static 'plants/js/add_edit_plant.js' %}"></script>
{% endblock %}