{% extends "base.html" %}
{% load static %}

{% block head_title %}
    Add a plant
{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_plant' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'plant_list' %}">Back</a>
                    <button class="btn btn-black rounded-0" type="submit">Add</button>
                </div>
            </form>
        </div>            
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}