{% extends "base.html" %}
{% load static %}

{% block head_title %}Change plant state{% endblock %}
{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="This page enable you to move plant records through the states">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="inner-content-container">
        <h1 class="content-header">Change Plant State</h1>
        <div class="standard-content">
            <form id="change-record-state-form" method="POST" action="{% url 'change_plant_state' record.pk %}" class="standard-form">
                {% csrf_token %}
                {{ form | crispy }}
                <h2><u>{{ record.plant.common_name }} ID: {{ record.plant_number }}</u></h2>
                <div>Current state: <u>{{ record.plant_state.plant_state_friendly_name }}</u></div>
                <div>Moving the plant to the next state cannot be undone.</div>
                <div>Please tick the box to indicate that you wish to proceed</div>
                <input type="checkbox" required>
            </form>
            <div class="button-container">
                <a class="button width-100-button button-content" href="{% url 'list_plant_records' %}">Back</a>
                <button form="change-record-state-form" id="plant-submit-btn" class="width-100-button button light-button" type="submit">Move to {{ record.plant_state.next_plant_state.plant_state_friendly_name }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}