{% extends "base.html" %}
{% load static %}

{% block head_title %}Confirm deletion of a plant{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can confirm deletion of a plant from the Wild Carbon system">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="inner-content-container standard-inner-content-container">
        <h1 class="content-header">Confirm Plant Deletion</h1>
        <div class="standard-content">
            <form id="confirm-plant-delete-form" method="post">
                {% csrf_token %}
                <p class="confirm-delete">Are you sure you want to delete '{{ object }}'?</p>
                {{ form }}
            </form>
            <div class="button-container">
                <a class="button button-content" href="{% url 'list_plants' %}">No Thanks</a>
                <button form="confirm-plant-delete-form" class="button light-button" type="submit">Delete Plant</button>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}