{% extends "base.html" %}
{% load static %}

{% block head_title %}plant records{% endblock %}
{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="This page lists all the plant the plant records on the Wild Carbon system">
{% endblock %}

{% block content %}
    <h1>Plant Records</h1>
    <div class="table-responsive rounded d-none d-md-block">
        <h2>Pending Trees</h2>
        <table class="table table-sm table-borderless">
            <thead class="text-black">
                <tr>
                    <th scope="col">Plant name</th>
                    <th scope="col">plant id</th>
                    <th scope="col">Date went pending</th>
                </tr>
            </thead>
            {% for record in pending %}
                <tr>
                    <td class="p-3 w-25">
                        {{ record.plant.common_name }}
                    </td>
                    <td class="py-3">
                        {{ record.plant_number }}
                    </td>
                    <td class="py-3">
                        {{ record.date_state_changed }}
                    </td>
                    <td class="py-3">
                        <a href="{% url 'change_plant_state' record.pk %}">Update State</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-responsive rounded d-none d-md-block">
        <h2>Growing Trees</h2>
        <table class="table table-sm table-borderless">
            <thead class="text-black">
                <tr>
                    <th scope="col">Plant name</th>
                    <th scope="col">plant id</th>
                    <th scope="col">Date started growing</th>
                </tr>
            </thead>
            {% for record in growing %}
                <tr>
                    <td class="p-3 w-25">
                        {{ record.plant.common_name }}
                    </td>
                    <td class="py-3">
                        {{ record.plant_number }}
                    </td>
                    <td class="py-3">
                        {{ record.date_state_changed }}
                    </td>
                    <td class="py-3">
                        <a href="{% url 'change_plant_state' record.pk %}">Update State</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-responsive rounded d-none d-md-block">
        <h2>Planted Trees</h2>
        <table class="table table-sm table-borderless">
            <thead class="text-black">
                <tr>
                    <th scope="col">Plant name</th>
                    <th scope="col">plant id</th>
                    <th scope="col">Date planted</th>
                </tr>
            </thead>
            {% for record in planted %}
                <tr>
                    <td class="p-3 w-25">
                        {{ record.plant.common_name }}
                    </td>
                    <td class="py-3">
                        {{ record.plant_number }}
                    </td>
                    <td class="py-3">
                        {{ record.date_state_changed }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock%}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}