{% extends "base.html" %}
{% load static %}

{% block head_title %}plant list{% endblock %}
{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="This page lists all the plants on the Wild Carbon system">
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">Plants</h2>
            <a class="button add-plant-button" href="{% url 'add_plant' %}">Add Plant</a>
            <!-- Search box and sort box HTML supplied by Code Institute -->
            <div class="plant-list-search-input">
                <form class="search-form" method="GET" action="{% url 'list_plants' %}">
                    <div class="input-group">
                        <input class="form-control search-input" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control button search-button" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="sort-select-wrapper">
                <select id="sort-selector" class="custom-select custom-select-sm selector border">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price__asc" {% if current_sorting == 'price__asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price__desc" {% if current_sorting == 'price__desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="common_name__asc" {% if current_sorting == 'common_name__asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="common_name__desc" {% if current_sorting == 'common_name__desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
            </div>
            <!-- End of search box and sort box HTML supplied by Code Institute -->
            <div class="plant-list-container">
                <div class="plant-list">
                    {% for plant in plants %}
                        <div class="plant-instance">
                            <div class="plant-instance plant-list-plant-instance">
                                {% if plant.image %}
                                    <img class="plant-image" src="{{ plant.image.url }}" alt="{{ plant.common_name }}" loading="lazy">
                                {% else %}
                                    <img class="plant-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ plant.common_name }}" loading="lazy">
                                {% endif %}
                                <h2 class="plant-instance-name">{{ plant.common_name }}</h2>
                                <hr>
                                <div>
                                    <span class="plant-field">Genus: </span><span class="plant-field-data">{{ plant.genus }}</span>
                                </div>
                                <div>
                                    <span class="plant-field">Species: </span><span class="plant-field-data">{{ plant.species }}</span>
                                </div>
                                <div>
                                    <span class="plant-field">Price: </span><span class="plant-field-data">&#8364; {{ plant.price }} ex VAT</span>
                                </div>
                                <div>
                                    <span class="plant-field">SKU: </span><span class="plant-field-data">{{ plant.sku }}</span>
                                </div>
                                <div class="add-plant-links">
                                    <small>
                                        <a class="link" href="{% url 'edit_plant' plant.id %}">Edit</a> |
                                        <a class="link" href="{% url 'delete_plant' plant.id %}">Delete</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/wild_carbon/search_sort.js' %}"></script>
{% endblock %}