{% extends "base.html" %}
{% load static %}

{% block head_title %}
    Associate plants with a location
{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can select plants that can be grown at the Wild Carbon location">
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">{{ plant.common_name }}</h2>
            <div class="plant-instance">
                {% if plant.image %}
                    <img class="plant-image" src="{{ plant.image.url }}" alt="{{ plant.common_name }}">
                {% else %}
                    <img class="plant-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ plant.common_name }}">
                {% endif %}
                <div>{{ plant.common_name }}</div>
                <span>{{ plant.genus }}</span>
                <span>{{ plant.species }}</span>
                <div>{{ plant.description }}</div>
                <div>&#8364 {{ plant.price }}</div>
                <div>{{ plant.sku }}</div>
            </div>
            <a class="nav-link" href="{% url 'carbon_capture' %}">Continue Shopping</a> 
        </div>
    </div>
{% endblock%}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}
