{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block head_title %}Associate plants with a location{% endblock %}

{% block main_style %}main-container-offset{% endblock %}

{% block description %}
    <meta name="description" content="On this page you can select plants that can be grown at the Wild Carbon location">
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="inner-content-container">
            <h2 class="content-header">{{ plant.common_name }}</h2>
            <div class="plant-instance">
                {% if plant.image %}
                    <img class="plant-image" src="{{ plant.image.url }}" alt="{{ plant.common_name }}">
                {% else %}
                    <img class="plant-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ plant.common_name }}">
                {% endif %}
                <div>{{ plant.common_name }}</div>
                <span>{{ plant.genus }}</span>
                <span>{{ plant.species }}</span>
                <div>{{ plant.description }}</div>
                <div>&#8364 {{ plant.price | calc_vat | floatformat:2 }} inc VAT</div>
                <div>SKU: {{ plant.sku }}</div>
            </div>
            <!-- Quantity selector template code provided by Code Institute -->
            <form class="form" action="{% url 'add_to_basket' plant.id %}" method="POST">
                {% csrf_token %}
                <div>
                    <p><strong>Quantity:</strong></p>
                    <div>
                        <div class="input-group input-group-{{ plant.id }}">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn decrement-qty_{{ plant.id }}" data-item_id="{{ plant.id }}">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input id_qty_{{ plant.id }}" data-item_id="{{ plant.id }}" type="number" name="quantity" value="1" min="1" max="99">
                            <div class="input-group-append">
                                <button class="increment-qty btn increment-qty_{{ plant.id }}" data-item_id="{{ plant.id }}">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <button type="submit" class="btn">Add To Basket</button>
                </div>
            </form>
            <!-- End of quantity selector template code provided by Code Institute -->
            <a class="nav-link" href="{% url 'carbon_capture' %}">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Continue Shopping</span>
            </a> 
        </div>
    </div>
{% endblock%}

{% block modal_style %}modal-offset{% endblock %}
{% block privacy_modal_style %}modal-offset{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/wild_carbon/quantity_input_script.js' %}"></script>
{% endblock %}
